<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Регистрация</title>
    </head>
    <body>
        <header>
            <a href="/">
                <img src="/img/logo.png" alt="Logo" style="height: 50px;">
            </a>
        </header>
        <h1>Регистрация</h1>
        <form action="/auth/register" method="POST">
            <label for="username">Логин:</label>
            <input type="text" id="username" name="username" required>
            <br><br>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
            <br><br>
            <label for="role">Роль:</label>
            <select id="role" name="role" required>
                <option value="user">Пользователь</option>
                <option value="admin">Администратор</option>
            </select>
            <br><br>
            <button type="submit">Зарегистрироваться</button>
            <br>
            <p>Уже есть аккаунт?<a href="/login">Авторизоваться</a></p>
        </form>   
    </body>
</html>
